.tabelaProd{
    border-collapse: collapse;
    margin: 0 auto;
    border: 2px solid #ccc;

    .tabelaCabecalho{
        background-color: #ecb15f;
        & th {
            border: 2px solid #ccc;
            text-align: center;
        }
    }

    .tabelaCorpo {
        & tr {
            height: 48px !important;
            &:hover {
                background-color: #675d5dee;
            }
        }

        & td {
            border: 2px solid #ccc;

            & img {
                width: 15%;
                transition: width 3s;
                &:hover {
                    width: 100%;
                }
            }
        }
    }
    
}