
.cabecalho{
    background-color: #888;
    color: #fff;
    width: 20%;
    margin: 1% 40% 0 0;
    font-size: 1.5rem;
    font-weight: bold;

    ul{
        list-style: none;

        li a{
            display: block;
            text-decoration: none;
            padding: 8px 32px;
            color: #fff;
            transition: background-color ease-out 300ms, color ease-out 300ms;

            &:hover{
                background-color: #79f;
                color: #000;
            }

        }
    }

    //Vamos criar uma classe para a página ou rota ativa:
    .active{
        background-color: #ddba6e;
        color: #fff;
    }

}